*{
    margin:0;
    font-family: 'poppins', sans-serif;
    padding: 0;
    box-sizing: border-box;
} 
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: slategrey;
    /*background: #091921; */
}

.calculadora{
    position: relative;
    display: grid;
}

.calculadora .value{
    grid-column: span 4;
    height: 50px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
}

.calculadora span{
    display: grid;
    width: 60px;
    height: 60px;
    color: aliceblue;
    background:#0c2835 ;
    place-items: center;
    border: 1px solid rgba(0, 0,0 , .1);
}

.calculadora span:active{
    background: #cc4c00;
    color: #111;
}

.calculadora span.clear{
    grid-column: span 2;
    width: 120px;
    background: salmon;
}

.calculadora span.plus{
    grid-row: span 2;
    height:  120px;
  
}
.calculadora span.equal{ 
   
    background: #01a900;
}